<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head><title>SmartScheduler</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
        crossorigin="anonymous">
</head>
<body
    style="background-color:#f0f2f5;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;font-family:'Open Sans', Arial, sans-serif;font-size:13px;text-align:center;">
<div class="box"
     style="max-width:620px;min-height:270px;display:block;margin-top:50px;margin-bottom:50px;margin-right:auto;margin-left:auto;width:100%;background-color:#fff;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;-webkit-box-shadow:0 3px 3px 0 #5E5E5E;box-shadow:0 3px 3px 0 #5E5E5E;text-align:center;">
  <div class="header"
       style="background-color:#483d8b;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#fff;padding-top:15px;padding-bottom:15px;padding-right:0;padding-left:0;width:100%;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;">
    Click the big button below to join the SmartScheduler event.
  </div>
  <div><i class="far fa-calendar-alt" style="
    font-size: 70px;
    margin-top: 20px;
    color: #483d8b;"></i>
  </div>
  <div style="text-align:left;padding-left:30px;padding-right:30px">
    <p style="font-size:14px;color:#434a54;">Hi <span th:text="${invitation.memberName}"></span>,</p>
    <p style="font-size:14px;color:#434a54;"><span th:text="${invitation.ownerFullName}"></span> ( <a href=""><span th:text="${invitation.ownerEmail}"></span></a> ) has invited you to join the event <strong><span th:text="${invitation.eventName}"></span></strong>.</p>
    <p  style="font-size:14px;color:#434a54;">Start date: <span th:text="${invitation.startDate}"></span> </p>
    <p style="font-size:14px;color:#434a54;">End date: <span th:text="${invitation.endDate}"></span> </p>
    <p style="font-size:14px;color:#434a54;">Location: <span th:text="${invitation.eventAddress}"></span> </p>
  </div>
  <a class=\"big-btn\" th:href="@{${invitation.acceptLink}}"
     style="background-color:#a1d36e;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:10px;padding-bottom:10px;padding-right:25px;padding-left:25px;text-transform:uppercase;color:#fff;-webkit-border-radius:5px;border-radius:5px;text-decoration:none;font-weight:600;display:block;width:250px;margin-top:20px;margin-bottom:20px;margin-right:auto;margin-left:auto;">
    Join the SmartScheduler event <span th:text="${invitation.eventName}"></span> </a><br>
  <div style="text-align:left; padding-left:30px;padding-right:30px">
    <p style="font-size:14px;color:#434a54;">Enjoy!</p>
    <p style="font-size:14px;color:#434a54;">- The SmartScheduler Team</p>
  </div>
  <p style="padding:10px; font-size:10px;color:#434a54; text-align:right"></p>
</div>
<div style="color:#b1b4b5;display:block;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">
  <p style="color:#b1b4b5;display:block;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">Or go to this URL to accept invitation : <a th:href="@{${invitation.acceptLink}}" style="color:#348fb4;">
    <span th:text="${invitation.acceptLink}"></span></a></p>
  <p style="color:#b1b4b5;display:block;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">Or go to this URL to decline the invitation: <a th:href="@{${invitation.declineLink}}" style="color:#348fb4;">
    <span th:text="${invitation.declineLink}"></span></a></p>
</div>
</body>


