<!DOCTYPE html>
<html>
<head><title>SmartScheduler</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
        crossorigin="anonymous">
</head>
<body
    style="background-color:#f0f2f5;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;font-family:'Open Sans', Arial, sans-serif;font-size:13px;text-align:center;">
<div class="box"
     style="max-width:620px;min-height:270px;display:block;margin-top:50px;margin-bottom:50px;margin-right:auto;margin-left:auto;width:100%;background-color:#fff;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;-webkit-box-shadow:0 3px 3px 0 #5E5E5E;box-shadow:0 3px 3px 0 #5E5E5E;text-align:center;">
  <div class="header"
       style="background-color:#483d8b;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#fff;padding-top:15px;padding-bottom:15px;padding-right:0;padding-left:0;width:100%;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;"></div>
  <div><i class="far fa-calendar-alt" style="
    font-size: 70px;
    margin-top: 20px;
    color: #483d8b;"></i>
  </div>
  <div style="text-align:left;padding-left:30px;padding-right:30px">
    <p style="font-size:14px;color:#434a54;"><i class="far fa-check-circle" style="
    color: black; margin-right: 5px"></i>Great! You successfully accepted event ${eventName} invitation. </p>
     <p style="font-size:14px;color:#434a54;"> Now go to SmartScheduler app for better event management and other daily tasks!</p>
  </div>
  <div style="text-align:left; padding-left:30px;padding-right:30px">
    <p style="font-size:14px;color:#434a54;">Enjoy!</p>
    <p style="font-size:14px;color:#434a54;">- The SmartScheduler Team</p>
  </div>
  <p style="padding:10px; font-size:10px;color:#434a54; text-align:right"></p>
</div>
</body>
